* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  list-style: none;
}

h1 {
  background-color: #ccc;
  color: #403F4C;
  padding: 10px;
  border-radius: 15px;
}

label {
  background-color: #ccc;
  color: #403F4C;
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
}

input {
  border: solid 2px #403F4C;
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
}

h2 {
  text-align: center;
  color: #403F4C;
  width: 400px;
  padding: 5px;
  background: linear-gradient(90deg, rgba(28, 42, 190, 1) 12%, rgba(252, 241, 241, 1) 48%, rgba(209, 24, 18, 1) 93%);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/vivaLaVida.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffec00;
}